<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Loanday Template">
    <meta name="keywords" content="Loanday, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>토우리그 공식사이트</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='wheel/wheel.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='wheel/Winwheel.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__search">
            <i class="fa fa-search search-switch"></i>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="{{ url_for('static', filename='img/towlogo5.png') }}" alt=""></a>
        </div>
        <nav class="offcanvas__menu mobile-menu">
            <ul>
                <li class="active"><a href="main">홈</a></li>
                <li><a href="towleague">토우리그</a></li>
                <li><a href="bulletin">게시판</a></li>
                <li><a href="lottery">상점추첨</a></li>
                <li><a href="#">페이지</a>
                    <ul class="dropdown">
                        <li><a href="./services.html">Features</a></li>
                        <li><a href="./services-details.html">Services Details</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="">연락처</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <ul class="offcanvas__widget">
            <li><i class="fa fa-map-marker"></i> 96 Ernser Vista Suite 437, NY, US</li>
            <li><i class="fa fa-phone"></i> (123) 456-78-910</li>
            {% if session['logged_in'] == True %}
                <li><i class="fa fa-envelope"></i>환영합니다, {{usr}}님</li>
                <li><a href="logout" class="primary-btn-s">로그아웃</a></li>
            {% else %}
                <li><a href="login" class="primary-btn-s">로그인</a></li>
                <li><a href="main" class="primary-btn-s">회원가입</a></li>
            {% endif %}
        </ul>
        <div class="offcanvas__language">
            <img src="{{ url_for('static', filename='img/flag.png') }}" alt="">
            <span>English</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">Bangla</a></li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <ul class="header__top__widget">
                            <li><i class="fa fa-map-marker"></i> 96 Ernser Vista Suite 437, NY, US</li>
                            <li><i class="fa fa-phone"></i> (123) 456-78-910</li>
                            {% if session['logged_in'] == True %}
                                <li><i class="fa fa-envelope"></i>환영합니다, {{usr}}</li>
                                <li><a href="logout" class="primary-btn-s">로그아웃</a></li>
                            {% else %}
                                <li><a href="login" class="primary-btn-s">로그인</a></li>
                                <li><a href="main" class="primary-btn-s">회원가입</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__top__language">
                            <img src="{{ url_for('static', filename='img/flag.png') }}" alt="">
                            <span>English</span>
                            <i class="fa fa-angle-down"></i>
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Bangla</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="main"><img src="{{ url_for('static', filename='img/towlogo5.png') }}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a href="main">홈</a></li>
                                <li><a href="towleague">토우리그</a></li>
                                <li><a href="bulletin">게시판</a></li>
                                <li class="active"><a href="./blog.html">상점추첨</a></li>
                                <li><a href="#">페이지</a>
                                    <ul class="dropdown">
                                        <li><a href="">Features</a></li>
                                        <li><a href="">Services Details</a></li>
                                        <li><a href="">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="">연락처</a></li>
                            </ul>
                        </nav>
                        <div class="header__search">
                            <i class="fa fa-search search-switch"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-option set-bg" data-setbg="{{ url_for('static', filename='img/breadcrumb/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>복불복 상점추첨</h2>
                        <div class="breadcrumb__links">
                            <a href="./index.html">홈</a>
                            <a href="./index.html">상점추첨</a>
                            <span>복불복 상점추첨</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            {% block body %}
                
            {% endblock %}
        </div>
        <div class="container">
            <form action="bulletin/create">
                
                <div align="center">
                    
                    <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <div class="power_controls">
                                <br />
                                <br />
                                <table class="power" cellpadding="10" cellspacing="0">
                                    <tr>
                                        <th align="center">강도</th>
                                    </tr>
                                    <tr>
                                        <td width="78" align="center" id="pw3" onClick="powerSelected(3);">최대</td>
                                    </tr>
                                    <tr>
                                        <td align="center" id="pw2" onClick="powerSelected(2);">중간</td>
                                    </tr>
                                    <tr>
                                        <td align="center" id="pw1" onClick="powerSelected(1);">최저</td>
                                    </tr>
                                </table>
                                <br />
                                <img id="spin_button" src="{{ url_for('static', filename='wheel/spin_off.png') }}" alt="Spin" onClick="startSpin();" />
                                
                                <br /><br />
                                &nbsp;&nbsp;<a href="#" onClick="resetWheel(); return false;">다시 돌리기</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(리셋)
                            </div>
                        </td>
                        <td width="438" height="582" class="the_wheel" align="center" valign="center">
                            <canvas id="canvas" width="434" height="434">
                                <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
                            </canvas>
                        </td>
                    </tr>
                </table>
                <script>
                    // Create new wheel object specifying the parameters at creation time.
                    let theWheel = new Winwheel({
                        'outerRadius'     : 212,        // Set outer radius so wheel fits inside the background.
                        'innerRadius'     : 75,         // Make wheel hollow so segments don't go all way to center.
                        'textFontSize'    : 24,         // Set default font size for the segments.
                        'textOrientation' : 'vertical', // Make text vertial so goes down from the outside of wheel.
                        'textAlignment'   : 'outer',    // Align text to outside of wheel.
                        'numSegments'     : 24,         // Specify number of segments.
                        'segments'        :             // Define segments including colour and text.
                        [                               // font size and test colour overridden on backrupt segments.
                           {'fillStyle' : '#ee1c24', 'text' : '1'},
                           {'fillStyle' : '#3cb878', 'text' : '2'},
                           {'fillStyle' : '#f6989d', 'text' : '3'},
                           {'fillStyle' : '#00aef0', 'text' : '4'},
                           {'fillStyle' : '#f26522', 'text' : '5'},
                           {'fillStyle' : '#000000', 'text' : '꽝', 'textFontSize' : 16, 'textFillStyle' : '#ffffff'},
                           {'fillStyle' : '#e70697', 'text' : '6'},
                           {'fillStyle' : '#fff200', 'text' : '7'},
                           {'fillStyle' : '#f6989d', 'text' : '8'},
                           {'fillStyle' : '#ee1c24', 'text' : '9'},
                           {'fillStyle' : '#3cb878', 'text' : '1'},
                           {'fillStyle' : '#f26522', 'text' : '2'},
                           {'fillStyle' : '#a186be', 'text' : '3'},
                           {'fillStyle' : '#fff200', 'text' : '4'},
                           {'fillStyle' : '#00aef0', 'text' : '5'},
                           {'fillStyle' : '#ee1c24', 'text' : '6'},
                           {'fillStyle' : '#f6989d', 'text' : '7'},
                           {'fillStyle' : '#f26522', 'text' : '8'},
                           {'fillStyle' : '#3cb878', 'text' : '9'},
                           {'fillStyle' : '#000000', 'text' : '꽝', 'textFontSize' : 16, 'textFillStyle' : '#ffffff'},
                           {'fillStyle' : '#a186be', 'text' : '1'},
                           {'fillStyle' : '#fff200', 'text' : '2'},
                           {'fillStyle' : '#00aef0', 'text' : '3'},
                           {'fillStyle' : '#00aef0', 'text' : '4'},



                           {'fillStyle' : '#ffffff', 'text' : 'LOOSE TURN', 'textFontSize' : 12}
                        ],
                        'animation' :           // Specify the animation to use.
                        {
                            'type'     : 'spinToStop',
                            'duration' : 10,    // Duration in seconds.
                            'spins'    : 3,     // Default number of complete spins.
                            'callbackFinished' : alertPrize,
                            'callbackSound'    : playSound,   // Function to call when the tick sound is to be triggered.
                            'soundTrigger'     : 'pin'        // Specify pins are to trigger the sound, the other option is 'segment'.
                        },
                        'pins' :				// Turn pins on.
                        {
                            'number'     : 24,
                            'fillStyle'  : 'silver',
                            'outerRadius': 4,
                        }
                    });
        
                    // Loads the tick audio sound in to an audio object.
                    let audio = new Audio('tick.mp3');
        
                    // This function is called when the sound is to be played.
                    function playSound()
                    {
                        // Stop and rewind the sound if it already happens to be playing.
                        audio.pause();
                        audio.currentTime = 0;
        
                        // Play the sound.
                        audio.play();
                    }
        
                    // Vars used by the code in this page to do power controls.
                    let wheelPower    = 0;
                    let wheelSpinning = false;
        
                    // -------------------------------------------------------
                    // Function to handle the onClick on the power buttons.
                    // -------------------------------------------------------
                    function powerSelected(powerLevel)
                    {
                        // Ensure that power can't be changed while wheel is spinning.
                        if (wheelSpinning == false) {
                            // Reset all to grey incase this is not the first time the user has selected the power.
                            document.getElementById('pw1').className = "";
                            document.getElementById('pw2').className = "";
                            document.getElementById('pw3').className = "";
        
                            // Now light up all cells below-and-including the one selected by changing the class.
                            if (powerLevel >= 1) {
                                document.getElementById('pw1').className = "pw1";
                            }
        
                            if (powerLevel >= 2) {
                                document.getElementById('pw2').className = "pw2";
                            }
        
                            if (powerLevel >= 3) {
                                document.getElementById('pw3').className = "pw3";
                            }
        
                            // Set wheelPower var used when spin button is clicked.
                            wheelPower = powerLevel;
        
                            // Light up the spin button by changing it's source image and adding a clickable class to it.
                            document.getElementById('spin_button').src = "{{ url_for('static', filename='wheel/spin_on.png.png') }}";
                            
                            
                            document.getElementById('spin_button').className = "clickable";
                        }
                    }
        
                    // -------------------------------------------------------
                    // Click handler for spin button.
                    // -------------------------------------------------------
                    function startSpin()
                    {
                        // Ensure that spinning can't be clicked again while already running.
                        if (wheelSpinning == false) {
                            // Based on the power level selected adjust the number of spins for the wheel, the more times is has
                            // to rotate with the duration of the animation the quicker the wheel spins.
                            if (wheelPower == 1) {
                                theWheel.animation.spins = 3;
                            } else if (wheelPower == 2) {
                                theWheel.animation.spins = 6;
                            } else if (wheelPower == 3) {
                                theWheel.animation.spins = 10;
                            }
        
                            // Disable the spin button so can't click again while wheel is spinning.
                            document.getElementById('spin_button').src       = "spin_off.png";
                            document.getElementById('spin_button').className = "";
        
                            // Begin the spin animation by calling startAnimation on the wheel object.
                            theWheel.startAnimation();
        
                            // Set to true so that power can't be changed and spin button re-enabled during
                            // the current animation. The user will have to reset before spinning again.
                            wheelSpinning = true;
                        }
                    }
        
                    // -------------------------------------------------------
                    // Function for reset button.
                    // -------------------------------------------------------
                    function resetWheel()
                    {
                        theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
                        theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
                        theWheel.draw();                // Call draw to render changes to the wheel.
        
                        document.getElementById('pw1').className = "";  // Remove all colours from the power level indicators.
                        document.getElementById('pw2').className = "";
                        document.getElementById('pw3').className = "";
        
                        wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
                    }
        
                    // -------------------------------------------------------
                    // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters.
                    // -------------------------------------------------------
                    function alertPrize(indicatedSegment)
                    {
                        // Just alert to the user what happened.
                        // In a real project probably want to do something more interesting than this with the result.
                        if (indicatedSegment.text == 'LOOSE TURN') {
                            alert('Sorry but you loose a turn.');
                        } else if (indicatedSegment.text == 'BANKRUPT') {
                            alert('Oh no, you have gone BANKRUPT!');
                        } else {
                            alert("You have won " + indicatedSegment.text);
                        }
                    }
                </script>
            </form>
            
            
        </div>
    </section>
    <!-- Services End -->

    <!-- Contact Begin -->
    <div class="contact-widget set-bg" data-setbg="{{ url_for('static', filename='img/contact-widget.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>New York Office</h4>
                                <p>917 Atlantic Lane, Strongsville, NY, United State</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__widget__item">
                                <h4>New Jersey Office</h4>
                                <p>1 Walnut Court, East Orange, NJ, United State</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__widget__phone">
                        <span>Contact Us Now!</span>
                        <h2>(+12) 345-678-910</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="{{ url_for('static', filename='img/towlogo5.png') }}" alt=""></a>
                        </div>
                        <p>Please remember though that how far you go is up to you. There is no substitute for your own
                            work and effort in succeeding in this business.</p>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Services</h5>
                        <div class="footer__widget">
                            <ul>
                                <li><a href="#">Personal Loans</a></li>
                                <li><a href="#">Business Loans</a></li>
                                <li><a href="#">Online Cash Loans</a></li>
                                <li><a href="#">Cash Advance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h5>Socials</h5>
                        <div class="footer__widget footer__widget--social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-skype"></i> Skype</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget footer__widget--address">
                        <h5>Open Hours</h5>
                        <p>We work all days a week, Please contact us for any inquiry.</p>
                        <ul>
                            <li>Monday - Friday: 11:00 am - 8:00 pm</li>
                            <li>Saturday: 10:00 am - 6:00 pm</li>
                            <li>Sunday: 11:00 am - 6:00 pm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul class="footer__copyright__links">
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>